/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modules {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add gap between modules */
}

.module {
  border: 1px solid #ccc;
  padding: 10px; /* Add padding to the whole module */
  margin: 10px;
  width: 300px;
}

.module-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.module-content {
  padding: 10px; /* Add padding to the content within the module */
}

.resources {
  margin-top: 10px;
}

.resource {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Increased padding for more space inside the resource box */
  border: 1px solid #ccc;
  margin-top: 10px; /* Increased margin to add more spacing between resource elements */
}

.resource-actions {
  display: flex;
  gap: 5px;
}
